/* BASE VARIABLES
 *******************/

/* Sizes */
$max-width: 1800px;
$footerheight: 50px;

/* Colors */
$text: #071a3e;
$links: #466ba4;
$hover: #ef6030;
$blue: #224274;
$darkBlue: #07193f;
$orange: #ef6030;
$lightOrange: #f99928;
$tan: #cec5bd;
$teal: #18576e;
$gray: #f3f2f0;

$bg: #FFF;

/* Fonts */
$main: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

/* Borders */
$border: 1px solid #000;

/* Breakpoints */
$cap: 1920px;
$l: 1050px;
$m: 850px;
$mobile-menu: 740px;
$s: 740px;
$xs: 500px;