footer {
	background-color: $blue;
	color: #fff;

	a {
		color: #fff;
		cursor: pointer;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}

		.fa {
			font-size: 2em;

			&:first-of-type {
				padding-right: 20px;
			}
		}
	}

	#copyright {
		margin-top: 30px;
	}
}

.footer-left {
	@media (min-width: $s) {
		float: left;
	}

	.textwidget {
		@include clearfix;
		margin-bottom: 60px;
	}

	h3 {
		letter-spacing: 1px;
		margin: 0 20px 15px 0;
		text-transform: uppercase;

		@media (min-width: $s) {
			display: inline;
			float: left;
		}
	}

	span {
		font-style: italic;
		font-weight: light;
		@media (min-width: $s) {
			display: inline-block;
		}
	}

	.contact-info {
		font-size: 1.1em;
		letter-spacing: .5px;
		@media (min-width: $s) {
			// clear: both;
			// float: left;
		}

		&:first-of-type {
			@media (min-width: $s) {
				clear: left;
				float: left;
			}
		}
	}

}

.footer-right {
	@media (min-width: $s) {
		float: right;
		text-align: right;
	}

	font-size: 1.1em;
	letter-spacing: .5px;
}