.top-bar {
	background-color: $darkBlue;
	padding: 10px 10px 8px;;

	.textwidget {
		text-align: right;

		a {
			color: #fff;
		}

		.fa {
			font-size: 1.3em;

			&:first-of-type {
				margin-right: 10px;
			}
		}
	}
}

#site-header {
	border-bottom: 4px solid $orange;
	margin-bottom: 45px;
	position: relative;
	z-index: 250;
	.logo {
		
	}
	img {
		height: auto;
		@media (min-width: $s) {
			margin-bottom: 13px;
		}
	}
}