.access {
	// @include clearfix;
	margin: 10px 0 0;

	&.top-nav-bar {
		@media (min-width: $mobile-menu) {
			float: right;
		}
		// width: 100%;
		.menu-top-menu-container {
			float: none;
		}
	}

	.menu-top-menu-container {

		ul {
			display: none;
			@media (max-width: $mobile-menu) {
				display: inherit;
			}
		}
		ul ul {
			width: 166px;
		}
		// added from custom.css and updated
		ul li ul li ul {
			// margin-left: -45px !important; 
			margin-top: 0!important; 
			width: 166px
		}
	}

	div {
		@media (min-width: $mobile-menu) {
			float: left;
			// overflow: hidden;
			position: relative;
			width: auto;
		}
	}
	//first level nav
	ul {
		clear: left;
		// display: flex;
		padding-left: 0;
		margin: 0 !important;
		list-style: none;
		li {
			position: relative;
			display: inline-block;
			font-size: 1.1em;
			font-weight: bold;
			// flex: 1;
			letter-spacing: .5px;
			text-align: center;
			text-transform: uppercase;
			vertical-align: middle;
			a {
				display: block;
				padding: 3px 0 3px 25px;
				margin: 2px 0;
				text-decoration: none;
				cursor: pointer;

				&:hover,
				&:focus {
					color: $hover;
				}
			}

			//second level nav
			ul li {
				display: block;
				padding: 3px 25px;

				a {
					margin: 0;
					padding: 0;
				}
			}

			//show first level submenus
			&:hover > ul {
				visibility: visible;
			}

			// &:hover ul ul {
			// 	visibility: hidden;
			// }
		}

		//second level nav
		ul {
			@media (min-width: $s){
				background: #fff;
				display: block;
				left: 0;
			    position: absolute;
			    top: 100%;
			    visibility: hidden;
			    z-index: 10;
			    font-size: .75em;
			    font-weight: 600;
			    text-transform: capitalize;
			     width: 240px;
			    padding-bottom: 6px;
			    box-shadow: 4px 5px 2px #999;
			    border: thin solid #c3b8af;
			    margin-top: 2px !important;
			    border-left: 14px solid #18576d;
			    border-top: none;

			    li {
			    	font-size: 1em;
			    }

			    //third level nav
				ul {
					// visibility: visible;
					// position: static;
					position: absolute;
					top: 0px;
					left: 100%;
					box-shadow: none;
				    // width: 247px;
				    border: none;

					li {
						margin-top: 14px;
					}
				}
			}
		}
	}

	.menu-top-menu-container {
		@media (min-width: $m) {
			min-width: 520px;
		}
		
		ul {
			display: inherit;
			@media (min-width: $mobile-menu) {
				float: right;
			}

			li {
				font-size: 1em;
			}
		}
	}
	
}

.mainnavwrap {
	@include clearfix;
}

.menu-toggle {
	background-color: transparent;
	color: $blue;
	font-family: $main;
	text-transform: uppercase;

	@media (min-width: $s) {
		display: none;
	}
}

.menu-main-container {
	display: none;

	@media (min-width: $mobile-menu) {
		display: inherit;
	}
}

#menu-main {
	// from samantha's custom.css
	li ul li {
		text-align: left;
	    text-transform: capitalize;
	    padding-left: 38px;
	    padding-right: 40px;
	    line-height: 21px;
	    margin-top: 6px;
	    margin-bottom: 8px;

	    ul li {
	    	margin-top: 14px;
	    }
	}
}

.menu-donate-container {
	display: inline-block;
	margin-left: 4%;
	// float: right;

	// @media (min-width: $l) {
	// 	position: relative;
 //    	top: 70px;
	// }

	 ul {
	 	list-style-type: none;
	 	margin: 0;

	    a{
	    	color: $orange;
	    	font-size: 1.6em;
	    	font-weight: bold;
	    	letter-spacing: 1.5px;
	    	text-transform: uppercase;
	    }
	 }
}

.logo-search-donate {
	@include clearfix;
}

.search-donate {
	float: right;
	margin-top: 10px;
	text-align: right;
	// top: 42px;
}