.access {
	margin: 0;
	div {
		float: left;
		// overflow: hidden;
		position: relative;
		width: 100%;
	}
	ul {
		clear: left;
		display: flex;
		padding-left: 0;
		margin: 0 !important;
		list-style: none;
		li {
			position: relative;
			display: inline-block;
			font-size: 1.2em;
			font-weight: bold;
			flex: 1;
			letter-spacing: .5px;
			text-align: center;
			text-transform: uppercase;
			vertical-align: middle;
			a {
				display: block;
				padding: 3px 0 3px 10px;
				margin: 2px 0;
				text-decoration: none;
				cursor: pointer;

				&:hover,
				&:focus {
					color: $hover;
				}
			}
			// &:last-of-type a:after {
			// 	content: none;
			// }

			ul li {
				display: block;
			}

			//show first level submenus
			&:hover > ul {
				visibility: visible;
			}
		}

		ul {
			background: #fff;
			display: block;
			left: 0;
		    position: absolute;
		    top: 70px;
		    visibility: hidden;
		    z-index: 10;

			ul {
				visibility: hidden;
				top: 0;
    			left: 100%;
			}
		}
	}

	.menu-top-menu-container {
		ul {
			display: inherit;
			float: right;

			li {
				font-size: 1em;
			}
		}
	}
	
}

#menu-main {
	.nolink {
		cursor: default;
		pointer-events: none;
	}
}

.menu-donate-container {
	display: inline-block;
	float: right;

	@media (min-width: $s) {
		position: relative;
    	top: 49px;
	}

	 ul {
	 	list-style-type: none;
	 	margin: 0;

	    a{
	    	color: $orange;
	    	font-size: 1.6em;
	    	font-weight: bold;
	    	letter-spacing: 1.5px;
	    	text-transform: uppercase;
	    }
	 }
}