.page-link {
	clear: both;
	display: block;
	margin: 0 0 1.5em;
	span {
		margin-right: 6px;
	}
}

.page-template-default {
	.entry-title {
		background: $teal;
		color: #fff;
		float: left;
		padding: 24px;
	}
}