#secondary {
	.widget {
		@include clearfix;
		clear: both;
		border-bottom: 3px solid $orange;
		margin: 0 0 40px 0;
		// padding: 0 0 20px;

		.textwidget {
			margin: 1em;
		}

		.widget-cta {
			float: right;
			background-color: $lightOrange;
			letter-spacing: .5px;
			padding: 10px;
			text-transform: uppercase;

			a {
				color: #fff;
			}
		}
	}
	.widget-title {
		background-color: $orange;
		color: #fff;
		letter-spacing: .5px;
		padding: 5px 10px;
		text-align: left;
		text-transform: uppercase;
	}
	.widget ul {
		margin: 1em;
		list-style-type: none;
		ul {
			// margin-left: 1.5em;
		}
	}

	.widget_recent_entries {
		li {
			font-size: 1.1em;
			margin-bottom: 20px;
		}
	}
}



/* Special Classes */
.no-border {
	border-bottom: none;
	margin-bottom: 0;
	padding:  0;
}

/* Search Widget */
.widget_search {
	form {
		margin: 0 0 10px;
	}
	#s {
		width: 95%;
		display: inline-block;
	}
}

.top-bar {
	@include clearfix;
	// background-color: $blue;
	.widget_search {
		// float: right;
		text-align: right;
		form {
			padding: 10px 0;
			margin: 0;
		}
		#s {
			width: 15%;
			display: inline-block;
		}
	}
}

header {
	.widget_search {
		width: auto;
    	float: left;
    	margin-left: 10px;

    	form {
    		margin: 0 0 10px;
    		position: relative;
    	}

    	input[type=text] {
    		border: 1px solid $blue;
    	}

    	button[type=submit] {
    		background: $blue;
    		color: white;
    		position: absolute;
    		right: 9px;
		    top: 1px;
    		padding: 6px 7px 9px 7px;;
    	}
	}
}