.widget {
	clear: both;
	border-bottom: 3px solid $orange;
	margin: 0 0 40px 0;
	padding: 0 0 20px;
}
.widget-title {
	background-color: $orange;
	color: #fff;
	letter-spacing: .5px;
	padding: 5px 10px;
	text-align: left;
	text-transform: uppercase;
}
.widget ul {
	margin: 1em;
	list-style-type: none;
	ul {
		// margin-left: 1.5em;
	}
}

.widget_recent_entries {
	li {
		margin-bottom: 20px;
	}
}



/* Special Classes */
.no-border {
	border-bottom: none;
	margin-bottom: 0;
	padding:  0;
}

/* Search Widget */
.widget_search {
	form {
		margin: 0 0 10px;
	}
	#s {
		width: 95%;
		display: inline-block;
	}
}